
body{
    background-color: black;

}
.logotipo{
    height: 200px;
    width: 200px;

}
header{
    display: flex;
    place-items: center;
    background-color: black;
    color: rgb(216, 202, 5);
    font-family: 'Batman Forever';
}
main{
    height: 4700px;
    text-align: center;
    color: white;
    background-color: rgb(9, 9, 46);

}
footer{
    height: 50px;
    text-align: center;
}
@font-face {
    font-family: 'Batman Forever';
    src: url(imgs/batman_forever/batmfa__.ttf);
    font-weight: normal;
    font-style: normal;
   
}
h3{
    display: flexbox;
    place-items: center;
    font-size: 160%;
    color: red;

}
h4{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 150%;
}
h2{
    color: yellow;
    font-size: xx-large;
}
.comicbook{
    float: center;
    margin-right: 30px;
    height: 300px;
}
